* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body  {
  font-family: 'Ubuntu Mono', monospace;
  color: aliceblue;
}

main  {
  height: 300px;
}

fieldset, legend  {
  border-width: 0px;
  font-size: 0px !Important;
}

.questions  {
  font-size: 12px;
  font-weight: 550;
}

.title  {
  text-align: center;
}

.title, .emph, .warning, .goodNews, .passPhraseWord {
  text-shadow: 1px 1px 2px black;
}

.emph, .passPhraseWord  {
  color: #7cdcde;
}

.passPhraseWord  {
  overflow-wrap: break-word;
  font-size: 20px;
}
.emph {
  font-weight: bold;
  font-style: italic;
 }

 .warning {
   color: #FFBDBD;
 }

 .goodNews{
  color: greenyellow;
 }

.whatDo {
  margin-top: 175px !Important;
}

.title, .whatDo, .toDo, .passBox  {
  border: 1px solid #7cdcde;
  background-color: #1A5B89;
}

.createPassLeft, .createPassRight, .createPassCenter, .newPhraseForm, .passBox, .leftSide, .rightSide {
  text-align: center;
}

.passOption, .passLength, .phraseLength, .phraseNumWords {
  text-align: left;
  margin-left: 30%;
}

.phraseOption {
  text-align: left;
  margin-left: 20%;
}

.passPhraseButton {
  margin-top: 75px;
}

.passBox {
  padding: 10px;
  margin-bottom: 20px !Important;
}

.passMagic, .goodNewsBadNews  {
  margin-left: auto;
  margin-right: auto;
}

.whatDo, .toDo  {
  margin-bottom: 20px !Important;
  padding: 10px;
}

.leftSide, .rightSide {
  padding: 5px;
  font-size: 16px;
}

.passwordLock {
  width: 50%;
  border: 1px solid #fbfef8;
}

.startTitle, .passMagicCheckTitle, .newPassTitle, .newPhrasetitle {
  font-size: 24px;
}

.passwordEntry  {
  margin-top: 10px;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.showPassCheckBox  {
  margin-top: 5px;
}

.passCheckfield {
  height: 30px;
  border-radius: 10px;
  width: 100%;
}

::placeholder {
  color: #5F7181;
  opacity: 1;
}

button {
  width: auto;
  padding: 10px;
  font-size: 24px;
  background-color: #02407c;
  border: 1px solid #7fe0df;
  border-radius: 10px;
  color: aliceblue;
}

.mt20 {
  margin-top: 15px;
}

.hidden {
  display: none;
}

a:link, a:visited  {
  color: aliceblue;
}

 a:hover  {
  color: #1A5B89;
  background-color: aliceblue;
}

input:focus, button:focus, a:focus, img:focus   {
  outline: 3px double aliceblue;
  -moz-appearance: none !important;
}

.pageModal { /*https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/*/
  position: fixed;
  top:  0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalContent:target{
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (min-width: 640px){
  .modalContent > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #1A5B89;
    text-align: left;
    max-height: calc(100vh - 100px);

    overflow-y: auto;

    
  }
}

.modalContent > div {
  width: 275px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #1A5B89;
  text-align: left;
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  
}

.close::after, .close::before {
  content: '-';
}

.close {
  color: #1A5B89 !Important;
	background: aliceblue;
	line-height: 25px;
	position: relative;
	right: -190px;
	text-align: center;
	top: -5px;
	width: 30px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 20px;
  box-shadow: 1px 1px 3px #000;
  z-index: 99999;
  font-size: 16px;

}

.close:hover  { 
  color: aliceblue !Important;
  background: #1A5B89;


}

.pageModal h2{
  text-align: center;
  font-size: 24px;
}

/* for veiwport adjusting background*/
.bg {
  /* rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* scaling */
  width: 100%;
  height: 100%;

  /* position */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

@media screen and (max-width: 750px) {
  .quizAppImg {
    max-width: 100%;
    max-height: 300px;
  }
}