* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.feedback {
  text-align: center;
}

body  {
  font-family: 'Ubuntu Mono', monospace;
  color: aliceblue;
}

main  {
  height: 300px;
}

fieldset, legend  {
  border-width: 0px;
  font-size: 0px !important;
}

.questions  {
  font-size: 12px;
  font-weight: 550;
}

.title, .createPassLeft, .createPassRight, .createPassCenter, .newPhraseForm, .passBox, .leftSide, .rightSide, .howDoRow  {
  text-align: center;
}

.howDoRow {
  padding: 10px;
 }

.title, .emph, .warning, .goodNews, .passPhraseWord {
  text-shadow: 1px 1px 2px black;
}

.emph, .passPhraseWord  {
  color: #7cdcde;
}

.passPhraseWord  {
  word-wrap: break-word;
  font-size: 20px;
}

.emph {
  font-style: italic;
  font-weight: bold;
 }

 .warning {
   color: #FFBDBD;
 }

 .goodNews{
  color: greenyellow;
 }

.whatDo {
  margin-top: 175px !important;
}

.title, .whatDo, .toDo, .passBox, .howDoRow  {
  border: 1px solid #7cdcde;
  background-color: #1A5B89;
}

.rightWhatDo  {
  margin-top: 2%;
}


li, .passOption, .passLength, .phraseLength, .phraseNumWords, .phraseOption, .passwordEntry  {
  text-align: left;
}

.passOption, .passLength, .phraseLength, .phraseNumWords {
  margin-left: 30%;
}

.phraseOption {
  margin-left: 20%;
}

.passBox, .whatDo, .toDo {
  padding: 10px;
  margin-bottom: 20px !important;
}

.passMagic, .goodNewsBadNews  {
  margin-left: auto;
  margin-right: auto;
}

.leftSide, .rightSide {
  padding: 5px;
  font-size: 16px;
}

.passwordLock {
  width: 50%;
  border: 1px solid #fbfef8;
}

.startTitle, .passMagicCheckTitle, .newPassTitle, .newPhrasetitle {
  font-size: 24px;
}

.passwordEntry  {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.showPassCheckBox  {
  margin-top: 5px;
  margin-left: 5px;
}

.passCheckfield {
  height: 30px;
  border-radius: 5px;
  width: 100%;
}

::placeholder {
  color: #5F7181;
  opacity: 1;
}

.newPhraseSubmit, .newPassSubmit {
  margin-top: 50px !important;
  margin-bottom: 10px;
}

.bt10, .bt20, .bt30{
  cursor: pointer;
}

.bt10, .bt20 {
  width: auto;
  padding: 10px;
  font-size: 24px;
  background-color: #02407c;
  border: 1px solid #7fe0df;
  border-radius: 10px;
  color: aliceblue;
}

.bt20 {
  margin-top: 15px;
}

.bt30 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:#1A5B89;
  border:none; 
  color: aliceblue;
  padding:0!important;
  text-decoration: underline;
  transition: 0.3s;
}

.hidden {
  display: none;
}

a:link, a:visited  {
  color: aliceblue;
}

input:focus, button:focus, a:focus, img:focus   {
  outline: 3px double aliceblue;
}

.pageModal { /*HT for modal - https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/*/
  position: fixed;
  top:  0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalContent:target{
  opacity: 1;
  pointer-events: auto;
}

.modalContent > div {
  width: 275px;
  position: relative;
  margin: 3% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #1A5B89;
  text-align: left;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.close {
  color: #1A5B89 !important;
	background: aliceblue;
	line-height: 25px;
	position: relative;
	right: -190px;
	text-align: center;
	top: -5px;
	width: 30px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 20px;
  box-shadow: 1px 1px 3px #000;
  z-index: 99999;
  font-size: 16px;
}

@media screen and (min-width: 640px) {
  .modalContent > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #1A5B89;
    text-align: left;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
   }
   
   .close {
    color: #1A5B89 !important;
    background: aliceblue;
    line-height: 25px;
    position: relative;
    right: -315px;
    text-align: center;
    top: -5px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #000;
    z-index: 99999;
    font-size: 16px;
  }
}

.close::after, .close::before {
  content: '-';
}

.close:hover  { 
  color: aliceblue !important;
  background: #1A5B89;
}

.pageModal h2{
  text-align: center;
  font-size: 24px;
}

/*HT for custom radios/checks - http://selfteach.me/customizing-radio-buttons-checkboxes/ */ 
input[type=radio] {
	display: none;
}

input[type=radio] + label {
	background: url('radio-button-unchecked.png') left top no-repeat;
  display: block;
	min-height: 28px;
  padding-left: 35px;
  line-height: 25px;
}

input[type=radio]:checked + label {
  background: url('radio-button-checked_v3.png') left top no-repeat;
}

input[type=checkbox]  {
	display: none;
}

input[type=checkbox] + label  {
	background: url('checkbox-unchecked.png') left top no-repeat;	display: block;
	min-height: 28px;
  padding-left: 35px;
  line-height: 25px;
}

input[type=checkbox]:checked + label  {
  background: url('checkbox-checked_v3.png') left top no-repeat;
}

/* for veiwport adjusting background*/
.bg {
  /* rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* scaling */
  width: 100%;
  height: 100%;

  /* position */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

@media only screen and (min-width: 640px){
  .passPhraseButton {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
  
  /*increases font size on smaller screens*/
  * {
    font-size: 105%;
  }

  /*hides lock image on smaller screens*/
  .rightWhatDo  {
    display: none;
  }

  .createPassLeft, .createPassCenter, .createPassRight  {
    margin-top: 20px;
  }
/*moves pass/phrase options to the left to reduce wrapping on small screens */
  .passOption, .passLength, .phraseLength, .phraseNumWords, .phraseOption {
    margin-left: 5%;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  
  body {
    font-size: 100%;
  }

  .createPassLeft, .createPassCenter, .createPassRight  {
    margin-top: 20px;
  }

}
